* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.data-grid-app {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    background-color: whitesmoke;

    .app-title {
        flex: 0 0 auto;
        margin: 0;
        padding: 0;
        background-color: slategray;
    }

    .data-grid-features {
        text-align: left;
        background-color: slategray;
    }

    .data-grid {
        flex: 1 1 auto;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: goldenrod;

        display: flex;
        flex-direction: column;

        .change-data {
            flex: 0 0 auto;
        }

        .grid-table {
            margin: 10px;
            background-image: linear-gradient(to right, black, royalblue, black);

            flex: 1 1 auto;
            overflow: hidden;

            .cell {
                border-right: 1px solid white !important;
                border-bottom: 1px solid white !important;
            }
        }

        .after {
            width: 100%;
            height: 10px;
            flex: 0 0 auto;
        }
    }

    .after {
        height: 10px;
        width: 100%;
    }

    @import 'data-grid/components/data-grid/style';
}
