* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.data-grid-app {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 3px;
    background-color: whitesmoke;
}

.data-grid-app .app-title {
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
    background-color: slategray;
}

.data-grid-app .data-grid-features {
    text-align: left;
    background-color: slategray;
}

.data-grid-app .data-grid {
    flex: 1 1 auto;
    background-color: teal;
}