* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.data-grid-app {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: whitesmoke;

    .app-title {
        flex: 0 0 auto;
        margin: 0;
        padding: 0;
        background-color: slategray;
    }

    .data-grid-features {
        text-align: left;
        background-color: slategray;
    }

    .data-grid {
        flex: 1 1 auto;
        margin: 3px;
        background-color: teal;
    }

    @import 'data-grid/components/data-grid/style';
}
