<div class="data-grid">
    <button class="change-data" type="button" {{on "click" this.changeData}}>Change data</button>
    <button class="load-data" type="button" {{on "click" this.loadData}}>Load data</button>

    <div class="grid-table">
        {{#each this.cells as |cell|}}
            <div class="cell cell-{{cell.id}}">
                <span class="cell-value">{{cell.value}}</span>
            </div>
        {{/each}}
    </div>
</div>
