<h1>Data Grid</h1>

<table class="data-grid-features">
    <thead>
        <tr>
            <th>Feature</th>
            <th>Feature Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Column picker panel</td>
            <td>User is able to choose which columns are shown</td>
        </tr>
        <tr>
            <td>Sticky header rows</td>
            <td>When the user scrolls the table vertically, header rows are always visible</td>
        </tr>
        <tr>
            <td>Sticky rows</td>
            <td>When the user scrolls the table vertically, pinned rows are always visible</td>
        </tr>
        <tr>
            <td>Sticky columns</td>
            <td>When the user scrolls the table horizontally, pinned columns are always visible</td>
        </tr>
        <tr>
            <td>Resizable columns</td>
            <td>User is able to drag each column's border to make the table column larger or smaller</td>
        </tr>
        <tr>
            <td>Multiple sort columns</td>
            <td>User is able to sort (clientside) data using the table, with minimal configuration by consumer</td>
        </tr>
        <tr>
            <td>Row cell highlight rules</td>
            <td>Consumer can configure highlighting of cells within a row that meet a particular condition</td>
        </tr>
        <tr>
            <td>Column cell highlight rules</td>
            <td>Consumer can configure highlighting of cells within a column that meet a particular condition</td>
        </tr>
        <tr>
            <td>Grid context actions</td>
            <td>Specific cells may know and act on information about other cells. Reminds me of currying in a way?</td>
        </tr>
        <tr>
            <td>Full subtable expansion</td>
            <td>Subtables can expand to the full size of the table, and publish their own navigation menu and control planes</td>
        </tr>
        <tr>
            <td>Realtime row update flash</td>
            <td>When a row is updated in real time, a background animation is displayed</td>
        </tr>
        <tr>
            <td>Grid context planes (levels)</td>
            <td>Data grid may expose different views. Ex a settings menu that renders in place of the grid </td>
        </tr>
        <tr>
            <td>Skeleton loading</td>
            <td>Loading animation for when the row is loading data, computing, etc</td>
        </tr>
    </tbody>
</table>

<hr>
